<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lear7.showcase">
    <!-- for file operation -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- for network -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- LeanCloud 基本模块（必须）START -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- for Video chat -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:exported="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.NavDemoActivity"/>
        <activity android:name=".activity.VideoPlayer2Activity" />
        <activity android:name=".activity.FragmentDemoActivity" />
        <activity android:name=".activity.VideoCallActivity" />

        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_proc">
            <intent-filter>
                <action android:name="com.lear7.action.BindRemoteService" />
            </intent-filter>
        </service>

        <activity android:name=".activity.MovieAppActivity" />
        <activity android:name=".activity.RxJavaActivity" />
        <activity android:name=".activity.CustomerViewActivity" />
        <activity android:name=".activity.LifecycleActivity" />
        <activity android:name=".activity.ViewModelActivity" />
        <activity android:name=".activity.DaggerDemoActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MaterialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MaterialAlipayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ListScrollView" />
        <activity android:name=".activity.BindingDemoActivity" />
        <activity android:name=".activity.MvpDemoActivity" />
        <activity android:name=".activity.MvpDemo2Activity" />
        <activity android:name=".activity.MvpDaggerActivity" />
        <activity android:name=".activity.BottomNavActivity" />
        <activity android:name=".activity.PrinterActivity">
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usbs" />
        </activity>
        <activity
            android:name=".activity.FullScreenActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".activity.DownloadTestActivity"
            android:configChanges="orientation" />
        <activity android:name=".activity.ThreadTestActivity" />
        <activity
            android:name=".activity.ThreadLearnActivity"
            android:persistableMode="persistAcrossReboots" />
        <activity android:name=".activity.ConstaintActivity" />
        <activity android:name=".activity.UIAdaptionActivity" />

        <meta-data
            android:name="app_version"
            android:value="${app_version_key}" />
        <meta-data
            android:name="market"
            android:value="${market_key}" />

        <service android:name=".service.WeatherService" />
        <service android:name=".service.WeatherIntentService" />
    </application>

</manifest>